In [9]:
import numpy as np
import statsmodels.api as smf
import pandas as pd

In [10]:
df = pd.read_csv('../data/fraud_synthetic_data.csv')
df

,age,years_in_labour_force,years_of_further_education,miles_resided_from_coast,committed
0,25.971259,14.809051,8.307270,55.530100,0
1,34.934750,15.535064,3.930498,44.099918,0
2,27.245978,21.471393,4.623026,50.431172,0
3,49.167824,20.404425,4.177440,69.176778,0
4,37.291319,21.469093,3.656979,52.866486,0
...,...,...,...,...,...
295,35.212400,15.984310,3.769215,56.607121,0
296,48.284889,21.750693,7.106139,49.705433,0
297,55.678414,21.991916,5.296406,58.287349,0
298,36.013001,21.105715,3.594546,53.358712,0
299,33.965073,10.195793,5.035284,70.462106,0

In [12]:

from sklearn.model_selection import train_test_split

train, test = train_test_split(df, random_state=42, test_size=0.1)
train

,age,years_in_labour_force,years_of_further_education,miles_resided_from_coast,committed
17,51.052909,30.095555,3.079979,52.799137,0
164,31.795531,19.018527,9.223226,44.563386,0
33,35.689687,22.132744,1.275573,17.017911,0
24,28.116523,13.835289,2.536263,67.925699,0
215,29.482064,17.257482,6.790920,55.474415,0
...,...,...,...,...,...
188,43.899878,21.199829,6.966357,46.114368,1
71,42.663653,22.668873,5.511399,39.784225,0
106,35.173394,14.489523,8.445255,63.427898,0
270,51.504063,26.260932,3.799287,61.383929,1
102,35.313695,18.189145,6.634970,50.894456,0

In [17]:
train.corr()

,age,years_in_labour_force,years_of_further_education,miles_resided_from_coast,committed
age,1.000000,0.813219,-0.095511,-0.053782,0.219303
years_in_labour_force,0.813219,1.000000,-0.101573,-0.072689,0.161271
years_of_further_education,-0.095511,-0.101573,1.000000,-0.046889,0.096249
miles_resided_from_coast,-0.053782,-0.072689,-0.046889,1.000000,0.000472
committed,0.219303,0.161271,0.096249,0.000472,1.000000

In [ ]:
train[['age','years_in_labour_force']].corr()

In [7]:
import statsmodels.formula.api as smf
import statsmodels.api as sm

mod = smf.ols(formula='committed ~ age + years_in_labour_force + years_of_further_education+ miles_resided_from_coast', data=train)
res = mod.fit()
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:              committed   R-squared:                       0.062
Model:                            OLS   Adj. R-squared:                  0.045
Method:                 Least Squares   F-statistic:                     3.661
Date:                Mon, 10 Jul 2023   Prob (F-statistic):            0.00656
Time:                        16:18:13   Log-Likelihood:                -72.346
No. Observations:                 225   AIC:                             154.7
Df Residuals:                     220   BIC:                             171.8
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
Intercept                     -0.2635      0.145     -1.820      0.070      -0.549       0.022
age                            0.0081      0.004      2.134      0.034       0.001       0.016
years_in_labour_force         -0.0014      0.007     -0.191      0.849      -0.016       0.013
years_of_further_education     0.0210      0.011      1.850      0.066      -0.001       0.043
miles_resided_from_coast      -0.0001      0.001     -0.083      0.934      -0.003       0.003
==============================================================================
Omnibus:                       81.280   Durbin-Watson:                   2.097
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              166.740
Skew:                           1.867   Prob(JB):                     6.21e-37
Kurtosis:                       4.960   Cond. No.                         455.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""